@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


html.medievalBoldWhite, body.medievalBoldWhite {
    font-family: 'Fondamento', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white
}

.boldWhite {
    font-weight: bold;
    color: white;
}

html.medievalBoldRoyalBlue, body.medievalBoldRoyalBlue {
    font-family: 'Fondamento', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: royalblue;
}

.boldRoyalBlue {
    font-weight: bold;
    color: royalblue;
}

html.medievalBoldBrown, body.medievalBoldBrown {
    font-family: 'Fondamento', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: sandybrown;
}

.boldBrown {
    font-weight: bold;
    color: sandybrown;
}

.boldBrownButton {
    background-color: slategray;
    font-weight: bold;
    color: sandybrown;
}

.medievalBold {
    font-family: 'Fondamento', Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.backgroundLightYellow {
    background-color: lightgoldenrodyellow;
}

.backgroundGrey {
    background-color: grey;
}

.backgroundLightBlue {
    background-color: lightskyblue;
}

.paddingTenPix {
    padding: 10px;
}

.marginTenPix {
    margin: 10px;
}

.margin5pixBy10pix {
    margin: 5px 10px;
}
