﻿@page "/CreateAccount"


<style>
    h1 {
        padding: 10px;
    }

    p {
        margin: 10px;
    }
</style>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
</head>

<body class="medievalBoldRoyalBlue" style="background-image: url('/fantasy3.jpg'); width: 1600px; height: 860px;">
    <h1>Create Account</h1>

    <p>Please fill out fields.</p>
    <p>User name         <input class="bold backgroundLightYellow" @bind="userName" /></p>
    <p>Password          <input class="bold backgroundLightYellow" @bind="passWord" /></p>
    <p>Re-enter password <input class="bold backgroundLightYellow" @bind="passCheck" /></p>
    <p>First name        <input class="bold backgroundLightYellow" @bind="firstName" /></p>
    <p>Last name         <input class="bold backgroundLightYellow" @bind="lastName" /></p>
    <p>Email             <input class="bold backgroundLightYellow" @bind="eMail" /></p>
    <p>
        <button class="btn btn-primary" @onclick="AddAccount">Accept</button>
    </p>
</body>

@code {
    private string userName;
    private string passWord;
    private string passCheck;
    private string firstName;
    private string lastName;
    private string eMail;
    private void AddAccount() { }
}