﻿@page "/CreateCharacter"
@using System.IO
<style>
    h1 {
        padding: 10px;
    }

    p {
        margin: 10px;
    }
</style>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
</head>

<body class="medievalBoldWhite" style="background-image: url('/fantasy1.jpg'); width: 1600px; height: 860px;">

    <p>
        Character name: <input @bind="character.player.name" />
    </p>

    <p>
        Current Race:
        <select class="bold" @onchange="@character.Selection1">
            <option class="bold" value="">Select a Race</option>
            <option class="bold" value="Races.Dwarf">Dwarf</option>
            <option class="bold" value="Races.Elf">Elf</option>
            <option class="bold" value="Races.Human">Human</option>
        </select>
    </p>

    <p>
        Current Class:
        <select class="bold" @onchange="@character.Selection2">
            <option class="bold" value="">Select a Class</option>
            <option class="bold" value="Classes.Bard">Bard</option>
            <option class="bold" value="Classes.Rogue">Rogue</option>
            <option class="bold" value="Classes.Wizard">Wizard</option>
        </select>
    </p>

    <p>
        Ability Scores
        <br>
        <select class="bold" @onchange="@character.AttributeMethod">
            <option class="bold">Select an option</option>
            <option class="bold" value="-1">Standard Array</option>
            <option class="bold" value="0">Manuel/Rolled</option>
            <option class="bold" value="1">Point Buy</option>
        </select>
    </p>

    <p>
        <button class="btn btn-primary" hidden=@character.array @onclick="character.FindAttributes">Roll Attribute Values</button> <figure hidden=@character.pointBuy>Points : @character.points</figure>
    </p>

    <select class="bold" @onchange="@character.SelectAttribute">
        <option class="bold" selected value="null">select attribute</option>
        @foreach (var item in character.attributes)
        {
            <option class="bold" value="@item">@item</option>
        }
    </select>

    <select class="bold" hidden=@character.noBuy @onchange="character.SelectValue">
        <option class="bold" selected value="-1">select value</option>
        @foreach (var item in character.choices)
        {
            <option class="bold" value="@item">@item</option>
        }
    </select>

    <select class="bold" hidden=@character.pointBuy @onchange="character.SelectValue">
        <option class="bold" selected value="-1">select value</option>
        <option class="bold" value=8>8</option>
        @for (int i = 0; i < character.list; i++)
        {
            <option class="bold" value="@character.buyPoints[i]">@character.valueCost[i]</option>
        }
    </select>

    <button class="btn btn-sm text-white" @onclick="character.Accept">Accept</button>

    <p>Set Strength: @character.player.strength</p>
    <p>Set Dexterity: @character.player.dexterity</p>
    <p>Set Constitution: @character.player.constitution</p>
    <p>Set Intelligence: @character.player.intelligence</p>
    <p>Set Wisdom: @character.player.wisdom</p>
    <p>Set Charisma: @character.player.charisma</p>

    <p>
        <button class="btn btn-primary" @onclick="character.SubmitCharacter">Accept Character</button>
    </p>

    <p>
        <button class="btn btn-primary" @onclick="character.CharacterList">Load Character</button>
    </p>

    <select class="bold" hidden=@character.noLoad @onchange="character.Load">
        <option class="bold" selected value="-1">select Character</option>
        @foreach (var item in character.files)
        {
            <option class="bold" value="@item">@item</option>
        }
    </select>
</body>


@code {

    CharacterBuild character = new CharacterBuild();

    public class CharacterBuild
    {
        public Character player = new Character();
        public List<int> choices = new List<int> { 15, 14, 13, 12, 10, 8 };
        public List<int> buyPoints = new List<int> { 9, 10, 11, 12, 13, 14, 15 };
        public List<string> attributes = new List<string> { "Strength", "Dexterity", "Constitution", "Intelligence", "Wisdom", "Charisma" };
        public List<string> valueCost = new List<string> { "9 (-1 Points)", "10 (-2 Points)", "11 (-3 Points)", "12 (-4 Points)", "13 (-5 Points)", "14 (-7 Points)", "15 (-9 Points)" };
        public string[] files = Directory.GetFiles(@"..\project\Json\");
        public string selectedFile;
        public string selection { get; set; }
        public int attrValue { get; set; }
        public int points = 27;
        public bool array = true;
        public bool pointBuy = true;
        public bool noBuy = false;
        public bool noLoad = true;
        public int list = 7;

        //Save character json file
        public async Task SubmitCharacter()
        {
            await JsonFiles.SaveCharacter(player);
        }

        //Get Character files 
        public void CharacterList()
        {
            noLoad = false;
            files = Directory.GetFiles(@"..\project\Json\");
        }

        //Load character from json file
        public void Load(ChangeEventArgs e)
        {
            selectedFile = e.Value.ToString();
            if( files.Length!=0)
                player = JsonFiles.LoadCharacter(selectedFile);
        }

        //User picks Race
        public void Selection1(ChangeEventArgs e)
        {
            switch (e.Value.ToString())
            {
                case "Races.Dwarf": //+2 to constitution
                    player = new Character(Races.Dwarf);
                    player.speed = 25;
                    break;
                case "Races.Elf":  //+2 to dexterity
                    player = new Character(Races.Elf);
                    player.speed = 30;
                    break;
                case "Races.Human": //+1 to all attributes
                    player = new Character(Races.Human);
                    player.speed = 30;
                    break;
            }
        }

        //User picks Class
        public void Selection2(ChangeEventArgs e)
        {
            switch (e.Value.ToString())
            {
                case "Classes.Bard": //saving throws = Dexterity, Charisma  hit points = 1d8+Constitution modifer
                    player.classes = Classes.Bard;
                    break;
                case "Classes.Rogue":
                    player.classes = Classes.Rogue;
                    break;
                case "Classes.Wizard":
                    player.classes = Classes.Wizard;
                    break;
            }
        }

        //User picks method to find attributes
        public void AttributeMethod(ChangeEventArgs e)
        {
            int pick = Int32.Parse(e.Value.ToString());
            switch (pick)
            {
                case -1: //Standard array
                    choices = new List<int> { 15, 14, 13, 12, 10, 8 };
                    pointBuy = true;
                    array = true;
                    noBuy = false;
                    break;
                case 0: //Manuel/Roll
                    pointBuy = true;
                    array = false;
                    noBuy = false;
                    break;
                case 1: //Points buy
                    choices = new List<int> { 9, 10, 11, 12, 13, 14, 15 };
                    pointBuy = false;
                    array = true;
                    noBuy = true;
                    break;
            }
        }

        //Sets attribute to be set
        public void SelectAttribute(ChangeEventArgs e)
        {
            selection = e.Value.ToString();
        }

        //Sets value for attribute when selected
        public void SelectValue(ChangeEventArgs e)
        {
            attrValue = Int32.Parse(e.Value.ToString());
        }

        //If Manuel/Rolled is selected
        public void FindAttributes()
        {
            choices.Clear();
            choices = DiceMethods.RollAttributes(choices);
        }

        //Track points available when using point buy selection
        public void PointBuyLogic()
        {
            if (!pointBuy)
            {
                if (attrValue > 8 && attrValue < 14)
                    points -= attrValue - 8;
                if (attrValue == 14)
                    points -= 7;
                if (attrValue == 15)
                    points -= 9;
            }

            if (points < 9)
                list = 6;
            if (points < 7)
                list = 5;
            if (points < 5)
                list = 4;
            if (points < 4)
                list = 3;
            if (points < 3)
                list = 2;
            if (points < 2)
                list = 1;
            if (points < 1)
                list = 0;
        }

        //Sets attribute with value and removes from lists
        public void Accept()
        {
            switch (selection)
            {
                case "Strength":
                    if (attrValue != -1)
                    {
                        player.strength += attrValue;
                        CleanUp("Strength");
                    }
                    break;
                case "Dexterity":
                    if (attrValue != -1)
                    {
                        player.dexterity += attrValue;
                        CleanUp("Dexterity");
                    }
                    break;
                case "Constitution":
                    if (attrValue != -1)
                    {
                        player.constitution += attrValue;
                        CleanUp("Constitution");
                    }
                    break;
                case "Intelligence":
                    if (attrValue != -1)
                    {
                        player.intelligence += attrValue;
                        CleanUp("Intelligence");
                    }
                    break;
                case "Wisdom":
                    if (attrValue != -1)
                    {
                        player.wisdom += attrValue;
                        CleanUp("Wisdom");
                    }
                    break;
                case "Charisma":
                    if (attrValue != -1)
                    {
                        player.charisma += attrValue;
                        CleanUp("Charisma");
                    }
                    break;
            }
        }

        //Clean up values used in selection
        public void CleanUp(string attribute)
        {
            PointBuyLogic();
            choices.Remove(attrValue);
            attributes.Remove(attribute);
            selection = null;
            attrValue = -1;
        }
    }

}

<!DOCTYPE html>
<html>
<head>
    <style>
        .item1 {
            grid-area: a;
        }

        .item2 {
            grid-area: b;
        }

        .item3 {
            grid-area: c;
        }

        .item4 {
            grid-area: d;
        }

        .item5 {
            grid-area: e;
        }

        .item6 {
            grid-area: f;
        }

        .item7 {
            grid-area: g;
        }

        .item8 {
            grid-area: h;
        }

        .item9 {
            grid-area: i;
        }

        .item10 {
            grid-area: j;
        }

        .item11 {
            grid-area: k;
        }

        .item12 {
            grid-area: l;
        }

        .item13 {
            grid-area: m;
        }

        .item14 {
            grid-area: n;
        }

        .item15 {
            grid-area: o;
        }

        .item16 {
            grid-area: p;
        }

        .item17 {
            grid-area: q;
        }

        .item18 {
            grid-area: r;
        }

        .item19 {
            grid-area: s;
        }

        .item20 {
            grid-area: t;
        }

        .item21 {
            grid-area: u;
        }

        .item22 {
            grid-area: v;
        }

        .item23 {
            grid-area: w;
        }

        .item24 {
            grid-area: x;
        }

        .item25 {
            grid-area: y;
        }

        .item26 {
            grid-area: z;
        }

        .item27 {
            grid-area: aa;
        }

        .grid-container {
            display: grid;
            grid-template:
                'a a a a a b b b b b b '
                'c i i i o p q w w w w'
                'd j j  j r r r w w w w'
                'e k k k s s s x x x x'
                'f k k k t t t y y y y'
                'g l l l u u u z z z z'
                'h l l l v v v aa aa aa aa'
                'm l l l n n n aa aa aa aa';
            grid-gap: 10px;
            background-color: #FCF5E5;
            padding: 10px;
        }

            .grid-container > div {
                background-color: rgba(255, 255, 255, 0.8);
                text-align: center;
                padding: 20px 0;
                font-size: 20px;
            }
    </style>
</head>
<body>

    <div class="grid-container medievalBold">
        <div class="item1">
            Character Name: @character.player.name
            <br /> Class:   @character.player.classes
            <br /> Level:   1
            <br /> Race:    @character.player.race
        </div>


        <div class="item2">
            Background:
            <br />Alignment:
            <br />Experience Points:
            <br />Player Name:
        </div>

        <div class="item3">
            Strength: @character.player.strength
            <br /> Mod:
        </div>

        <div class="item4">
            Dexterity: @character.player.dexterity
            <br /> Mod:
        </div>

        <div class="item5">
            Constitution: @character.player.constitution
            <br /> Mod:
        </div>

        <div class="item6">
            Intelligence: @character.player.intelligence;
            <br /> Mod:
        </div>

        <div class="item7">
            Wisdom: @character.player.wisdom
            <br /> Mod:
        </div>

        <div class="item8">
            Charisma: @character.player.charisma
            <br /> Mod:
        </div>

        <div class="item9">Inspiration: </div>

        <div class="item10">Proficiency Bonus: </div>

        <div class="item11">
            Saving Throws:
            <br />
            <br />
            <input type="radio" id="Strength" name="throw" value="strength">
            <label for="strength">__ Strength</label><br>

            <input type="radio" id="Dexterity" name="throw" value="dexterity">
            <label for="dexterity">__ Dexterity</label><br>

            <input type="radio" id="Constitution" name="throw" value="constitution">
            <label for="constitution">__ Constitution</label><br>

            <input type="radio" id="Intelligence" name="throw" value="intelligence">
            <label for="intelligence">__ Intelligence</label><br>

            <input type="radio" id="Wisdom" name="throw" value="wisdom">
            <label for="wisdome">__ Wisdom</label><br>

            <input type="radio" id="Charisma" name="throw" value="charisma">
            <label for="strength">__ Charisma</label><br>

        </div>

        <div class="item12">
            Skills:
            <br />
            <br />
            <input type="radio" id="Acrobatics" name="skills" value="acrobatics">
            <label for="acrobatics">__ Acrobatics(dex)</label><br>

            <input type="radio" id="Animal Handling" name="skills" value="animal 					handling">
            <label for="animal handling">__ Animal Handling(wis)</label><br>

            <input type="radio" id="Arcana" name="skills" value="arcana">
            <label for="arcana">__ Arcana(int)</label><br>

            <input type="radio" id="Athletics" name="skills" value="athletics">
            <label for="athletics">__ Athletics(str)</label><br>

            <input type="radio" id="Deception" name="skills" value="deception">
            <label for="deception">__ Deception(cha)</label><br>

            <input type="radio" id="History" name="skills" value="history">
            <label for="history">__ History(int)</label><br>

            <input type="radio" id="Insight" name="skills" value="insight">
            <label for="insight">__ Insight(wis)</label><br>

            <input type="radio" id="Intimidation" name="skills" value="intimidation">
            <label for="intimidation">__ Intimidation(cha)</label><br>

            <input type="radio" id="Investigation" name="skills" value="investigation">
            <label for="investigation">__ Investigation(int)</label><br>

            <input type="radio" id="Medicine" name="skills" value="medicine">
            <label for="medicine">__ Medicine(wis)</label><br>

            <input type="radio" id="Nature" name="skills" value="nature">
            <label for="nature">__ nature(int)</label><br>

            <input type="radio" id="Perception" name="skills" value="perception">
            <label for="perception">__ Perception(wis)</label><br>

            <input type="radio" id="Performace" name="skills" value="performance">
            <label for="performance">__ Performance(cha)</label><br>

            <input type="radio" id="Persuasion" name="skills" value="persuasion">
            <label for="persuasion">__ Persuasion(wis)</label><br>

            <input type="radio" id="Religion" name="skills" value="religion">
            <label for="religion">__ Religion(int)</label><br>

            <input type="radio" id="Sleight of Hand" name="skills" value="sleight of 				hand">
            <label for="sleight of hand">__ Sleight of Hand(dex)</label><br>

            <input type="radio" id="Stealth" name="skills" value="stealth">
            <label for="stealth">__ Stealth(dex)</label><br>

            <input type="radio" id="Survival" name="skills" value="survival">
            <label for="survival">__ Survival(wis)</label><br>

        </div>

        <div class="item13"> Passive Wisdom (Perception): </div>

        <div class="item14"> Other Proficiencies & Languages: </div>

        <div class="item15"> Armor Class: </div>
        <div class="item16"> Initiative: </div>
        <div class="item17"> Speed: </div>

        <div class="item18">
            Hit Point Max:
            <br />
            Current Hit Points:
            <br />
            Temporary Hit Points:
            <br />

        </div>

        <div class="item19">
            Hit Dice
            <br />
            <br />
            Total:
        </div>

        <div class="item20">
            Death Saves
            <br />
            <br />
            Sucesses:
            <br />
            Failures:
        </div>

        <div class="item21">
            Attacks & Spell Casting
            <br />
            <br />
            Name:
            <br />
            Attack Bonus:
            <br />
            Damage/Type:
        </div>

        <div class="item22"> Equipment: </div>

        <div class="item23"> Personality Traits: </div>

        <div class="item24"> Ideals </div>

        <div class="item25"> Bonds </div>

        <div class="item26"> Flaws </div>

        <div class="item27"> Features & Traits </div>


    </div>

</body>
</html>
