﻿@page "/JsRazorExample"
@inject IJSRuntime JS 

<h3>Call JavaScript</h3>

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | ProjectInitiativeUnity</title>
</head>

<body style="text-align: center">
    <canvas id="unity-canvas" width=960 height=600 style="width: 960px; height: 600px; background: #231F20"></canvas>

    @code {
        [Inject]
        public IJSRuntime JSRuntime { get; set; }

        private UnityBuilder jsClass;

        protected override void OnInitialized()
        {
            jsClass = new(JS);
        }

        public async Task ShowUnity()
        {
            await jsClass.TickerChanged();
        }
    }

</body>


